body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    max-width: 1500px;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    /* padding: 50px; */
}
.image {
    width: 30%;
    height: 100%;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: end;
    padding-left: 170px;
    overflow: hidden;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 400px;
    height: 100px;
    margin-left: 200px;
    gap: 8px;
}
.timer span {
    color: #fff;
    font-size: 36px;
}
.main-logo {
    width: 25%;
    height: 100%;
}
.main-logo img {
    width: 170%;
    height: 100%;
    object-fit: contain;
}
.links {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-left: 100px;
}
.links a {
    text-decoration: none;
}
.links h1 {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.links h1:hover {
    color: grey;
    cursor: grab;
}

.Copyright {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.Copyright h1 {
    color: #fff;
}
/* .Poster {
    display: flex;
      justify-content: space-between;
    width: 100%;
}
.Poster img {
    width: 800px;
    height: 1200px;
} */

h2{
    color: #f6f6f6;
}

p{
    color: #f6f6f6;
    width: 100%
}

.box-1 {
  border: solid 1px rgba(0, 0, 0, 0.27);
}
.box-2 {
  border: solid 1px rgba(0, 0, 0, 0.397);
}
.box-3 {
  border: solid 1px rgba(0, 0, 0, 0.36);
}
.main-box {
  display: flex;
}
 


.box-1:nth-child(1) {
    width: 33%;
    height: 450px;
    /* background-color: #f6f6f6; */
    margin-left: 92px;
    margin-top: 137px;
    border-radius: 100px;
}
.box-1:nth-child(2) {
    width: 33%;
    height: 450px;
    /* background-color: #f6f6f6; */
    margin-left: 173px;
    margin-top: 137px;
    border-radius: 100px;
}
.box-1:nth-child(3) {
    width: 33%;
    height: 450px;
    /* background-color: #f6f6f6; */
    margin-left: 173px;
    margin-right: 92px;
    margin-top: 137px;
    border-radius: 100px;
}

.box-1 img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    
}


 .box-2:nth-child(1) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 92px;
    margin-top: 237px;
    border-radius: 100px;
}
.box-2:nth-child(2) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 173px;
    margin-top: 237px;
    border-radius: 100px;
}
.box-2:nth-child(3) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 173px;
    margin-right: 92px;
    margin-top: 237px;
    border-radius: 100px;
}

.box-2 img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    
}

.box-3:nth-child(1) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 92px;
    margin-top: 137px;
    border-radius: 100px;
}
.box-3:nth-child(2) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 173px;
    margin-top: 137px;
    border-radius: 100px;
}
.box-3:nth-child(3) {
    width: 33%;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 173px;
    margin-right: 92px;
    margin-top: 137px;
    border-radius: 100px;
}

.box-3 img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    
}






.img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }